@page "/enrollStudents/{id}"
<h3>Daftar EnrollmentStudents</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Students ID</th>
            <th>Course ID</th>
            <th>Tittle</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var enrl in enrollment)
        {
            <tr>
                <td>@enrl.studentID</td>
                <td>@enrl.courseID</td>
                <td>@enrl.title</td>
                <td>@enrl.credits</td>
            </tr>
            }
    </tbody>
</table>
